---
import HeroSection from '../components/HeroSection.astro'; 
import SomosSection from '../components/SomosSection.astro';
import AccesoriosSection from '../components/AccesoriosSection.astro';
import SolarSection from '../components/SolarSection.astro';
import DisfruteSection from '../components/DisfruteSection.astro';
import ModelXSection from '../components/ModelXSection.astro';
import ModelSSection from '../components/ModelSSection.astro';
import ChargeSection from '../components/ChargeSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tesla page"> <!-- Aquí hemos añadido un "title" para que el título de la página sea "Tesla page". -->
	<LandingHeader /> <!-- Aquí hemos añadido el componente "LandingHeader" para que se muestre todo el codigo que habiamos escrito aquí antes. -->	
	
	<main>
		
		
		<HeroSection /> <!-- Aquí hemos añadido el componente "HeroSection" para que se muestre todo el codigo que habiamos escrito aquí antes. -->
		
		<ChargeSection />

		<ModelSSection />

		<ModelXSection />

		<DisfruteSection />

		<SolarSection />

		<AccesoriosSection />

		<SomosSection />

		
	
	
	</main> 
</Layout>
