<section class="bg-black h-screen w-screen text-center relative overflow-hidden" >
    <img src="public/Homepage-Model-Y-Desktop-Global-v2.avif"
    class="absolute top-0 left-0 w-full h-full object-cover z-0"> </img>

    <div class="relative z-30 h-full flex flex-col"> <!-- Aquí hemos añadido un "z-10" para que el contenido de esta sección esté por encima del video que se encuentra debajo. Y relative para que no haga scroll y quede fijado. -->
        <header>
        <h2 class="text-white pt-[130px] text-[55px] -mt-6 font-family font-medium">Model Y</h2>
        <p class="text-white text-[23px] -mt-4 " > Desde 29.490 € </p>
        <p class="text-white text-[13px] mt-1 "> Precio con la aplicacion de los programas Tesla Boost e incentivos de movilidad eléctrica</p>
        </header>
        
        <footer class="w-full flex flex-col justify-center items-center mt-auto mb-8"> <!-- Aquí hemos añadido un "justify-center" para que los botones estén centrados en la parte inferior de la página. -->
            <div class="flex space-x-3 w-full justify-center"> <!-- Aquí hemos añadido un "space-x-4" para que haya un espacio entre los botones. -->
            <button class=" bg-blue-600 text-white text-[14px] px-6 py-2 mt-4 rounded w-1/6 "> Encargar </button>
            <button class=" bg-white text-black text-[14px] px-6 py-2 mt-4 rounded w-1/6 "> Prueba de conducción </button>
            </div>
            <a href="#" class="text-white underline mt-4 text-[12px] relative group">Explorar inventario
            <span class="absolute left-0 bottom-0 w-full h-[2px] bg-white transform scale-x-0 group-hover:scale-x-100 transition-transform origin-left"></span> 
            </a><!-- Aquí hemos añadido un "group-hover" para que la línea se expanda cuando se pase el cursor por encima del texto. -->
            </div>
        </footer>
    </div>
    

</section>