<section class="bg-black h-screen w-screen text-center relative overflow-hidden" >
    <video autoplay muted loop playsinline src="public/Homepage-We-Are-Tesla-Desktop (1).webm"
    class="absolute top-0 left-0 w-full h-full object-cover z-0"> </video>

    <div class="relative z-30 h-full flex flex-col justify-center items-start pl-10"> <!-- Aquí hemos añadido un "z-10" para que el contenido de esta sección esté por encima del video que se encuentra debajo. Y relative para que no haga scroll y quede fijado. -->
        <header>
        <h2 class="text-white pt-[130px] text-[40px] -mt-6 font-family font-medium">Somos Tesla</h2>
        
        </header>
        
        <footer class="mt-4"> <!-- Aquí hemos añadido un "justify-center" para que los botones estén centrados en la parte inferior de la página. -->
           
            <button class=" bg-white text-black text-[14px] px-6 py-2 mt-4 rounded">Únase a Tesla</button>
            
        </footer>
    </div>
    
